<div class="row">
  <div class="col-sm-6 col-md-8 col-lg-10">
    <h1 id="aboutTitle">Over deze applicatie</h1>
    <p>
      Deze applicatie is gemaakt in het kader van het vak 'Clientside web
      frameworks' van Avans Hogeschool
      Breda. Github: <a
        href="https://github.com/TimdeLaater/Angular-App-Training">https://github.com/TimdeLaater/Angular-App-Training</a>
    </p>
    <h3>Naam van jouw project</h3>
    <p>
      Mijn applicatie gaat als volgt werken er staan oefeningen al in een
      database
      en deze kun je selecteren op spiergroep. vervolgens kan de gebruiker een
      Trainingschema aanmaken waarin vervolgens trainingen toegevoegd kunnen
      worden. Deze trainingen bestaan weer uit een collectie van oefeningen
    </p>
  </div>
  <div class="col-sm-6 col-md-4 col-lg-2">
    <div class="card">
      <div class="d-flex justify-content-center align-items-center">
        <img
          src="assets/images/person.png"
          class="card-img-top rounded-circle border profile-pic"
          alt="..."
          />
      </div>
      <div class="card-body">
        <h5 class="card-title">Tim de Laater</h5>
        <p class="card-text">Studentnummer: 2171083</p>
      </div>
    </div>
  </div>
</div>

<h3>Entiteiten</h3>
<p>
  De 3 entiteiten van mijn project zijn:
  -Trainingschema,
  -Trainingen,
  -Oefeningen.
</p>
<div class="row">
  <div class="col-sm-12 col-md-4">
    <p>Entiteit 1</p>
    <ul>
      <li>naam: string</li>
      <li>id: number</li>
      <li>birthdate: date</li>
      <li>isSelected: boolean</li>
    </ul>
  </div>
  <div class="col-sm-12 col-md-4">
    <p>Entiteit 2</p>
    <ul>
      <li>naam: string</li>
      <li>id: number</li>
      <li>birthdate: date</li>
      <li>isSelected: boolean</li>
    </ul>
  </div>
  <div class="col-sm-12 col-md-4">
    <p>Entiteit 3</p>
    <ul>
      <li>naam: string</li>
      <li>id: number</li>
      <li>birthdate: date</li>
      <li>isSelected: boolean</li>
    </ul>
  </div>
</div>

<div class="row">
  <div class="col">
    <img src="assets/images/voorbeeld-datamodel.png" alt="..." />
  </div>
</div>
