/* You can add global styles to this file, and also import other style files */
.masthead {
  height: 100vh;
  min-height: 500px;
  background-image: url('./assets/images/background_angular.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: white;
}
